.navigation {
    font-size: 20px;
 }

 .navigation__list {
    list-style-type: none;
    box-shadow: 10px -5px 5px 0px #2F6984, 
    inset -120px  60px 27px 45px #D3CA19;
    width: 200px;
    border-radius: 20px;
    border: 10px double black
}

.navigation__listItem {
    margin: 5px 0;
}

.navigation__link {
    text-decoration: none;
}