.navigation {
    font-size: 20px;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    font-size: 27px;
    background-color: rgb(27, 219, 219);
    width: 360px;
    height: 200px;
    border-radius: 20px;
    border: 10px double black
}

.navigation__listItem {
    margin: 5px 0;
}

.navigation__link {
    text-decoration: none;
}